.maggi1{
    padding:1% 4% 0% 8%;
    float:left;
}
.maggi2{
    padding:1% 10% 10% 11%;
    float:right;
}
.maggi3{
    padding-top:22px;
    padding-left:430px;
    margin-left:200px;
    float:center;
}
.cup1{
    float:left;
}
.cup2{
    float:center;
    padding-left:42%;
    padding-right: 0%;
}
.pazzta1{
    padding-left: 20px;
    padding-right:0px;
}

